@layer tailwind-base, primereact, tailwind-utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body {
  background-color: #f6f1e9;
}

.p-inputtext {
  outline: none;
  box-shadow: none;
}

.p-inputtext:hover {
  @apply border-slate-300;
}

.p-inputtext:focus {
  @apply border-slate-300;
}
.p-card-body {
  padding: 0 1.25rem !important;
}

.p-card-content {
  padding: 0.8rem 0 0 0 !important;
}

.p-divider.p-divider-horizontal {
  padding: 0;
  margin: 0;
}

.p-sidebar-content {
  padding: 0;
}

.text-select {
  font-size: 0.5rem !important;
}

.p-dropdown-items {
  font-size: 0.8rem;
}

.p-dropdown-label {
  font-size: 0.8rem;
}

.p-datatable-table td,
.p-column-header-content span {
  font-size: 0.8rem !important;
}

.p-toast-message-content {
  color: #333;
}

.p-dropdown-items {
  font-size: 0.7rem;
}

.reporte_alumnos .p-accordion-header-link,
.admision .p-accordion-header-link {
  @apply bg-rose-700 text-white;
}

.p-accordion-toggle-icon {
  display: none !important;
}
.p-accordion-content {
  padding: 0;
  margin: 0;
}

.p-dropdown-panel {
  max-width: 250px !important;
}

.p-radiobutton-box {
  background: white;
  border: 2px solid #fe0000;
}

.p-radiobutton-icon {
  background: red;
  border: none !important;
  outline: none;
}

/* CREAMOS LA PROPIEDAD SIDEBAR PARA QUE EL QUITADO DE MARGEN AFECTE A SOLO LOS ACORDION TABS QUE ESTAN DENTRO DE ESTE */
.sidebar .p-accordion-tab {
  @apply m-0 rounded-none;
}

.drawer .p-accordion-header {
  @apply border-l-8 border-white rounded-none;
}

.drawer .p-accordion-header-link {
  @apply rounded-none border-l-0;
}

.drawer .p-accordion-header:hover {
  @apply border-rose-700;
}

.block-scroll {
  height: calc(100vh - 140px);
  /* overflow: hidden; */
}

.p-link {
  @apply bg-white text-black;
}

.card_admision span.p-column-title {
  display: block;
  margin: 0 auto;
}

.p-paginator-page:focus {
  @apply bg-rose-700 text-white;
}

.p-paginator-page:hover {
  @apply bg-rose-700 text-white;
}

.p-datatable-thead {
  position: relative;
}

.p-checkbox .p-checkbox-box.p-highlight {
  color: #fe0000 !important;
  border: 1px solid #fe0000;
  @apply bg-rose-700
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  color: #000;
}

.p-multiselect:not(.disabled):hover {
  @apply border border-rose-700
}

.p-multiselect:not(.disabled).p-focus {
  box-shadow: none;
  @apply border border-rose-700
}

.table_matriculados .p-datatable-header {
  @apply bg-rose-700
}

.p-component-overlay {
  /* background-color: rgba(0,0,0,.1) !important; */
  /* filter: blur(.6px); */
}

.p-dialog-header {
  @apply bg-rose-700 text-white
}